<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/PagedList.css" rel="stylesheet" />
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Animal", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Publicly", "Index", "Animal")</li>
                   @if (ViewContext.HttpContext.User.IsInRole("Руководитель")) { 
                    <li>@Html.ActionLink("Animals", "AllAnimals", "Animal")</li>
                    <li>@Html.ActionLink("#####", "IndexAnimalsTrans", "Animal") </li>
                   }
                </ul>
                <ul class=" nav  navbar-nav  pull-right ">
                    <li>
                        @if (ViewContext.HttpContext.User.IsInRole("Администратор"))
                        {
                            @Html.ActionLink("Пользователи", "Index", "User")
                        }
                        else if (ViewContext.HttpContext.User.IsInRole("Руководитель"))
                        {
                            @Html.ActionLink("Пользователи", "Index", "User")
                        }
                        
                    </li>
                    <li>@Html.ActionLink("Выйти", "LogOff", "Account") </li>
            
                </ul>              
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="mainbody" class="container" style=" min-height:550px;  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT-vLpOlPjJpZwiFA5R4Uf-gs3ueP5Fwupzh_DxU0ouP3qNjM44  ); background-position: left bottom; background-repeat: no-repeat;">
            @RenderBody()
        </div>
        <hr />
        <footer >
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
