@model Zoo.BLL.Entities.ATD

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3>Описание</h3>
    </div>
    <div class="modal-body">

        <div class="display-label">
            @Html.LabelFor(model => model.KindOfAnimal)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.KindOfAnimal)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.GenderId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gender.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.DepartmentId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Department.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.NumberFeeding)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NumberFeeding)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.DiscriptionFeed)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DiscriptionFeed)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.User.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.FeedingId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Feeding.NameFeeding)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.LifecycleId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Lifecycles.EnteredOrBorn)
        </div>
    </div>
</div>

