@model IEnumerable<Zoo.BLL.Entities.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KindOfAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberFeeding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscriptionFeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedingId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KindOfAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberFeeding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscriptionFeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feeding.NameFeeding)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
