@model Zoo.BLL.Entities.Animal


<div class="modal-content">
    
    
    <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3>Are you sure you want to delete animal?</h3>
    </div>
    <div class="modal-body">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.KindOfAnimal)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.KindOfAnimal)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.GenderId)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.GenderId)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.DepartmentId)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DepartmentId)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.NumberFeeding)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.NumberFeeding)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.DiscriptionFeed)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DiscriptionFeed)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.UserId)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.UserId)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.FeedingId)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FeedingId)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.LifecycleId)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LifecycleId)
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Удалить" />
            }

        </div>
    </div>
