@model IEnumerable<Zoo.BLL.Entities.Animal>

<table class="table float-right" id="tableAnimals">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KindOfAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LifecycleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberFeeding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscriptionFeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedingId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KindOfAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lifecycles.EnteredOrBorn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberFeeding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscriptionFeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feeding.NameFeeding)
            </td>
            @if (HttpContext.Current.User.IsInRole("Руководитель"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </td>
            
             <td>
                @Ajax.ActionLink("Редактировать", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "editForm" }) |
                @Ajax.ActionLink("Детали", "Deteils", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "editForm" }) |
                @Ajax.ActionLink("Удалить", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "editForm" })
           
              </td>
            }
        </tr>
    }
</table>
