@model PagedList.IPagedList<Zoo.BLL.Entities.ATD>
@using PagedList.Mvc;

@{
    Layout = null;
}


<div id="content">
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <table class="tabletable-striped table-condensed">
        <tr>
            <th>
                KindOfAnimal
            </th>
            <th>
                Gender
            </th>
            <th>
                Department
            </th>
            <th>
                NumberFeeding
            </th>
            <th>
                DiscriptionFeed
            </th>
            <th>
                User
            </th>
            <th>
                Feeding
            </th>
            <th>
                Lifecycle
            </th>
            <th>LifecycleEnd</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KindOfAnimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Zoo.WebUI.Models.TimesDict.dictionaryTime[item.NumberFeeding])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscriptionFeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feeding.NameFeeding)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lifecycles.EnteredOrBorn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lifecycles.TransferredOrDied)
                </td>
           @if (ViewContext.HttpContext.User.IsInRole("Руководитель"))
                {
                <td>
           
                    <ul class="nav  nav-stacked">
                        <li>
                            <span class="label label-default">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id },
                      new { @class = "compItem", data_dialog_title = "Изменение" })
                            </span>
                        </li>
                        <li>
                            <span class="label label-warning ">
                                @Html.ActionLink("Details", "Details", new { id = item.Id },
                     new { @class = "compItem", data_dialog_title = "Описание" })
                            </span>
                        </li>
                        <li>
                            <span class="label label-danger ">
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                    new { @class = "compItem", data_dialog_title = "Удаление" })
                            </span>
                        </li>
                    </ul>
           
                </td>
               }
            </tr>
        }
    </table>
    <br />

    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    <div id="contentPager">
        @Html.PagedListPager(Model, page => Url.Action("ListAnimalsTrans", new { page }))
    </div>
</div>
